@import url("home.css");
@import url("navbar.css");
@import url("breadcrumb.css");
@import url("register.css");
@import url("login.css");
@import url("topbar.css");
@import url("myaccount.css");
@import url("product.css");
html 
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root{
    --primary: #080dfd;
    --primaryHover: #080cfd7e;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.sticky-top .nav-item{
    color: #080dfd !important;
}
